In [11]:
import pandas as pd
import numpy as np
df=pd.read_csv("intelliwaf_combined_new.csv",low_memory=False)
df.head(150)

                timestamp client_ip method  ... 0.1 200 1289
0    2025-01-01T12:10:00Z   offline    GET  ... NaN NaN  NaN
1    2025-01-01T12:11:00Z   offline    GET  ... NaN NaN  NaN
2    2025-01-01T12:12:00Z   offline    GET  ... NaN NaN  NaN
3    2025-01-01T12:13:00Z   offline    GET  ... NaN NaN  NaN
4    2025-01-01T12:14:00Z   offline    GET  ... NaN NaN  NaN
..                    ...       ...    ...  ...  ..  ..  ...
145  2025-01-01T14:35:00Z   offline    GET  ... NaN NaN  NaN
146  2025-01-01T14:36:00Z   offline    GET  ... NaN NaN  NaN
147  2025-01-01T14:37:00Z   offline    GET  ... NaN NaN  NaN
148  2025-01-01T14:38:00Z   offline    GET  ... NaN NaN  NaN
149  2025-01-01T14:39:00Z   offline    GET  ... NaN NaN  NaN

[150 rows x 28 columns]

In [12]:
df.tail(50)

                  timestamp client_ip method  ... 0.1 200 1289
99213  2025-01-03T02:50:00Z   offline    GET  ... NaN NaN  NaN
99214  2025-01-03T02:51:00Z   offline    GET  ... NaN NaN  NaN
99215  2025-01-03T02:52:00Z   offline    GET  ... NaN NaN  NaN
99216  2025-01-03T02:53:00Z   offline    GET  ... NaN NaN  NaN
99217  2025-01-03T02:54:00Z   offline   POST  ... NaN NaN  NaN
99218  2025-01-03T02:55:00Z   offline    GET  ... NaN NaN  NaN
99219  2025-01-03T02:56:00Z   offline    GET  ... NaN NaN  NaN
99220  2025-01-03T02:57:00Z   offline    GET  ... NaN NaN  NaN
99221  2025-01-03T02:58:00Z   offline    GET  ... NaN NaN  NaN
99222  2025-01-03T02:59:00Z   offline    GET  ... NaN NaN  NaN
99223  2025-01-03T03:00:00Z   offline    GET  ... NaN NaN  NaN
99224  2025-01-03T03:01:00Z   offline    GET  ... NaN NaN  NaN
99225  2025-01-03T03:02:00Z   offline   POST  ... NaN NaN  NaN
99226  2025-01-03T03:03:00Z   offline    GET  ... NaN NaN  NaN
99227  2025-01-03T03:04:00Z   offline    GET  ... NaN NaN  NaN
99228  2025-01-03T03:05:00Z   offline    GET  ... NaN NaN  NaN
99229  2025-01-03T03:06:00Z   offline    GET  ... NaN NaN  NaN
99230  2025-01-03T03:07:00Z   offline    GET  ... NaN NaN  NaN
99231  2025-01-03T03:08:00Z   offline   POST  ... NaN NaN  NaN
99232  2025-01-03T03:09:00Z   offline   POST  ... NaN NaN  NaN
99233  2025-01-03T03:10:00Z   offline    GET  ... NaN NaN  NaN
99234  2025-01-03T03:11:00Z   offline    GET  ... NaN NaN  NaN
99235  2025-01-03T03:12:00Z   offline    GET  ... NaN NaN  NaN
99236  2025-01-03T03:13:00Z   offline    GET  ... NaN NaN  NaN
99237  2025-01-03T03:14:00Z   offline    GET  ... NaN NaN  NaN
99238  2025-01-03T03:15:00Z   offline    GET  ... NaN NaN  NaN
99239  2025-01-03T03:16:00Z   offline    GET  ... NaN NaN  NaN
99240  2025-01-03T03:17:00Z   offline    GET  ... NaN NaN  NaN
99241  2025-01-03T03:18:00Z   offline    GET  ... NaN NaN  NaN
99242  2025-01-03T03:19:00Z   offline    GET  ... NaN NaN  NaN
99243  2025-01-03T03:20:00Z   offline   POST  ... NaN NaN  NaN
99244  2025-01-03T03:21:00Z   offline    GET  ... NaN NaN  NaN
99245  2025-01-03T03:22:00Z   offline    GET  ... NaN NaN  NaN
99246  2025-01-03T03:23:00Z   offline    GET  ... NaN NaN  NaN
99247  2025-01-03T03:24:00Z   offline    GET  ... NaN NaN  NaN
99248  2025-01-03T03:25:00Z   offline    GET  ... NaN NaN  NaN
99249  2025-01-03T03:26:00Z   offline    GET  ... NaN NaN  NaN
99250  2025-01-03T03:27:00Z   offline    GET  ... NaN NaN  NaN
99251  2025-01-03T03:28:00Z   offline   POST  ... NaN NaN  NaN
99252  2025-01-03T03:29:00Z   offline    GET  ... NaN NaN  NaN
99253  2025-01-03T03:30:00Z   offline    GET  ... NaN NaN  NaN
99254  2025-01-03T03:31:00Z   offline    GET  ... NaN NaN  NaN
99255  2025-01-03T03:32:00Z   offline   POST  ... NaN NaN  NaN
99256  2025-01-03T03:33:00Z   offline    GET  ... NaN NaN  NaN
99257  2025-01-03T03:34:00Z   offline    GET  ... NaN NaN  NaN
99258  2025-01-03T03:35:00Z   offline   POST  ... NaN NaN  NaN
99259  2025-01-03T03:36:00Z   offline    GET  ... NaN NaN  NaN
99260  2025-01-03T03:37:00Z   offline    GET  ... NaN NaN  NaN
99261  2025-01-03T03:38:00Z   offline    GET  ... NaN NaN  NaN
99262  2025-01-03T03:39:00Z   offline    GET  ... NaN NaN  NaN

[50 rows x 28 columns]

In [19]:
import pandas as pd
import re
import urllib.parse

# -----------------------------
# Load CSV safely
# -----------------------------
df = pd.read_csv(
    "intelliwaf_combined_new.csv",
    low_memory=False
)

# -----------------------------
# Pattern Libraries
# -----------------------------

SQLI_PATTERNS = [
    r"union\s+select",
    r"select.+from",
    r"insert\s+into",
    r"update\s+\w+\s+set",
    r"delete\s+from",
    r"drop\s+table",
    r"or\s+1\s*=\s*1",
    r"or\s+'1'\s*=\s*'1'",
    r"'--",
    r"--\s",
    r"/\*.*\*/",
    r"sleep\s*\(",
    r"benchmark\s*\(",
    r"load_file\s*\(",
    r"information_schema",
    r"@@version",
    r"xp_cmdshell",
]

XSS_PATTERNS = [
    r"<\s*script",
    r"</\s*script",
    r"javascript:",
    r"onerror\s*=",
    r"onload\s*=",
    r"onclick\s*=",
    r"onmouseover\s*=",
    r"<\s*img",
    r"<\s*svg",
    r"<\s*iframe",
    r"alert\s*\(",
    r"document\.cookie",
    r"%3cscript",
    r"%3cimg",
]

CMDI_PATTERNS = [
    r";\s*\w+",
    r"\|\|",
    r"\&\&",
    r"`.+?`",
    r"\$\(.+?\)",
    r"\bwhoami\b",
    r"\bid\b",
    r"\buname\b",
    r"\bls\b",
    r"\bpwd\b",
    r"\bcat\b",
    r"\bifconfig\b",
    r"\bip\s+a\b",
    r"\bwget\b",
    r"\bcurl\b",
    r"%0a",
    r"%0d",
]

TRAVERSAL_PATTERNS = [
    r"\.\./",
    r"\.\.\\",
    r"%2e%2e",
    r"%2f",
    r"/etc/passwd",
    r"/etc/shadow",
    r"/proc/self/environ",
    r"win\.ini",
    r"boot\.ini",
    r"php://",
    r"file://",
]

UPLOAD_PATTERNS = [
    r"\.php$",
    r"\.php\.",
    r"\.phtml",
    r"\.php5",
    r"\.jsp",
    r"\.asp",
    r"\.exe",
    r"multipart/form-data",
    r"content-disposition",
]

# -----------------------------
# Helper Function
# -----------------------------

def match_any(patterns, text):
    for p in patterns:
        if re.search(p, text):
            return True
    return False

# -----------------------------
# Labeling Function
# -----------------------------

def label_row(row):
    raw_text = f"{row.get('url','')} {row.get('path','')} {row.get('body','')}"
    decoded = urllib.parse.unquote_plus(str(raw_text)).lower()

    # ---- Priority order matters ----
    if match_any(SQLI_PATTERNS, decoded):
        return 1  # SQL Injection

    if match_any(XSS_PATTERNS, decoded):
        return 2  # XSS

    if match_any(CMDI_PATTERNS, decoded):
        return 3  # Command Injection

    if match_any(TRAVERSAL_PATTERNS, decoded):
        return 4  # Directory Traversal / LFI

    if row.get("has_file_upload", 0) == 1 or match_any(UPLOAD_PATTERNS, decoded):
        return 5  # File Upload

    return 0  # Normal

# -----------------------------
# Apply Labels
# -----------------------------

df["label"] = df.apply(label_row, axis=1)

# -----------------------------
# Save Output
# -----------------------------

df.to_csv("labeled_attacks.csv", index=False)

print("Label distribution:")
print(df["label"].value_counts())

Label distribution:
label
0    77665
5     8369
2     4535
4     4525
3     3810
1      359
Name: count, dtype: int64

In [18]:
#SQL
SQLI_PATTERNS = [
    r"union\s+select",
    r"select.+from",
    r"insert\s+into",
    r"update\s+\w+\s+set",
    r"delete\s+from",
    r"drop\s+table",
    r"sleep\s*\(",
    r"benchmark\s*\(",
    r"load_file\s*\(",
    r"into\s+outfile",
    r"or\s+1\s*=\s*1",
    r"or\s+'1'\s*=\s*'1'",
    r"'--",
    r"--\s",
    r"#",
    r"/\*.*\*/",
    r"' or ",
    r"\" or ",
    r"xp_cmdshell",
    r"information_schema",
    r"concat\s*\(",
    r"database\s*\(",
    r"@@version",
    r"waitfor\s+delay",
]

In [ ]:
#XSS
XSS_PATTERNS = [
    r"<\s*script",
    r"</\s*script",
    r"javascript:",
    r"onerror\s*=",
    r"onload\s*=",
    r"onclick\s*=",
    r"onmouseover\s*=",
    r"<\s*img",
    r"<\s*svg",
    r"<\s*iframe",
    r"document\.cookie",
    r"document\.location",
    r"alert\s*\(",
    r"prompt\s*\(",
    r"confirm\s*\(",
    r"%3cscript",
    r"%3cimg",
    r"%3csvg",
]

In [ ]:
#cammand
CMDI_PATTERNS = [
    r";\s*\w+",
    r"\|\|",
    r"\&\&",
    r"\|",
    r"`.+?`",
    r"\$\(.+?\)",
    r"\n",
    r"%0a",
    r"%0d",
    r"\bwhoami\b",
    r"\bid\b",
    r"\buname\b",
    r"\bcat\b",
    r"\bls\b",
    r"\bpwd\b",
    r"\bifconfig\b",
    r"\bip\s+a\b",
    r"\bnetstat\b",
    r"\bwget\b",
    r"\bcurl\b",
    r"\bping\b",
    r"\bnc\b",
    r"\bsh\b",
    r"\bbash\b",
]

In [ ]:
#DIR
TRAVERSAL_PATTERNS = [
    r"\.\./",
    r"\.\.\\",
    r"%2e%2e",
    r"%2f",
    r"%5c",
    r"/etc/passwd",
    r"/etc/shadow",
    r"/proc/self/environ",
    r"boot\.ini",
    r"win\.ini",
    r"windows/system32",
    r"php://",
    r"file://",
    r"expect://",
    r"input://",
]

In [ ]:
#File_upload
UPLOAD_PATTERNS = [
    r"\.php$",
    r"\.php\.",
    r"\.phtml",
    r"\.php5",
    r"\.jsp",
    r"\.asp",
    r"\.exe",
    r"\.sh",
    r"\.py",
    r"multipart/form-data",
    r"content-disposition",
]

In [ ]:
#Brut force
LOGIN_PATHS = [
    "/login",
    "/signin",
    "/admin",
    "/wp-login",
    "/user/login"
]

In [20]:
import pandas as pd
import numpy as np
df=pd.read_csv("labeled_attacks.csv",low_memory=False)
df.head(50)

               timestamp client_ip method  ... 200 1289 label
0   2025-01-01T12:10:00Z   offline    GET  ... NaN  NaN     4
1   2025-01-01T12:11:00Z   offline    GET  ... NaN  NaN     4
2   2025-01-01T12:12:00Z   offline    GET  ... NaN  NaN     4
3   2025-01-01T12:13:00Z   offline    GET  ... NaN  NaN     4
4   2025-01-01T12:14:00Z   offline    GET  ... NaN  NaN     4
5   2025-01-01T12:15:00Z   offline    GET  ... NaN  NaN     4
6   2025-01-01T12:16:00Z   offline    GET  ... NaN  NaN     4
7   2025-01-01T12:17:00Z   offline    GET  ... NaN  NaN     4
8   2025-01-01T12:18:00Z   offline    GET  ... NaN  NaN     4
9   2025-01-01T12:19:00Z   offline    GET  ... NaN  NaN     4
10  2025-01-01T12:20:00Z   offline    GET  ... NaN  NaN     4
11  2025-01-01T12:21:00Z   offline    GET  ... NaN  NaN     0
12  2025-01-01T12:22:00Z   offline    GET  ... NaN  NaN     4
13  2025-01-01T12:23:00Z   offline    GET  ... NaN  NaN     4
14  2025-01-01T12:24:00Z   offline    GET  ... NaN  NaN     4
15  2025-01-01T12:25:00Z   offline    GET  ... NaN  NaN     4
16  2025-01-01T12:26:00Z   offline    GET  ... NaN  NaN     4
17  2025-01-01T12:27:00Z   offline    GET  ... NaN  NaN     4
18  2025-01-01T12:28:00Z   offline    GET  ... NaN  NaN     4
19  2025-01-01T12:29:00Z   offline    GET  ... NaN  NaN     4
20  2025-01-01T12:30:00Z   offline    GET  ... NaN  NaN     4
21  2025-01-01T12:31:00Z   offline    GET  ... NaN  NaN     0
22  2025-01-01T12:32:00Z   offline    GET  ... NaN  NaN     4
23  2025-01-01T12:33:00Z   offline    GET  ... NaN  NaN     4
24  2025-01-01T12:34:00Z   offline    GET  ... NaN  NaN     4
25  2025-01-01T12:35:00Z   offline    GET  ... NaN  NaN     4
26  2025-01-01T12:36:00Z   offline    GET  ... NaN  NaN     0
27  2025-01-01T12:37:00Z   offline    GET  ... NaN  NaN     4
28  2025-01-01T12:38:00Z   offline    GET  ... NaN  NaN     4
29  2025-01-01T12:39:00Z   offline    GET  ... NaN  NaN     4
30  2025-01-01T12:40:00Z   offline    GET  ... NaN  NaN     4
31  2025-01-01T12:41:00Z   offline    GET  ... NaN  NaN     4
32  2025-01-01T12:42:00Z   offline    GET  ... NaN  NaN     4
33  2025-01-01T12:43:00Z   offline    GET  ... NaN  NaN     4
34  2025-01-01T12:44:00Z   offline    GET  ... NaN  NaN     4
35  2025-01-01T12:45:00Z   offline    GET  ... NaN  NaN     4
36  2025-01-01T12:46:00Z   offline    GET  ... NaN  NaN     4
37  2025-01-01T12:47:00Z   offline    GET  ... NaN  NaN     4
38  2025-01-01T12:48:00Z   offline    GET  ... NaN  NaN     4
39  2025-01-01T12:49:00Z   offline    GET  ... NaN  NaN     4
40  2025-01-01T12:50:00Z   offline    GET  ... NaN  NaN     4
41  2025-01-01T12:51:00Z   offline    GET  ... NaN  NaN     4
42  2025-01-01T12:52:00Z   offline    GET  ... NaN  NaN     4
43  2025-01-01T12:53:00Z   offline    GET  ... NaN  NaN     4
44  2025-01-01T12:54:00Z   offline    GET  ... NaN  NaN     4
45  2025-01-01T12:55:00Z   offline    GET  ... NaN  NaN     0
46  2025-01-01T12:56:00Z   offline    GET  ... NaN  NaN     4
47  2025-01-01T12:57:00Z   offline    GET  ... NaN  NaN     0
48  2025-01-01T12:58:00Z   offline    GET  ... NaN  NaN     4
49  2025-01-01T12:59:00Z   offline    GET  ... NaN  NaN     4

[50 rows x 29 columns]

In [21]:
df.tail(50)

                  timestamp client_ip method  ... 200 1289 label
99213  2025-01-03T02:50:00Z   offline    GET  ... NaN  NaN     0
99214  2025-01-03T02:51:00Z   offline    GET  ... NaN  NaN     1
99215  2025-01-03T02:52:00Z   offline    GET  ... NaN  NaN     3
99216  2025-01-03T02:53:00Z   offline    GET  ... NaN  NaN     4
99217  2025-01-03T02:54:00Z   offline   POST  ... NaN  NaN     5
99218  2025-01-03T02:55:00Z   offline    GET  ... NaN  NaN     3
99219  2025-01-03T02:56:00Z   offline    GET  ... NaN  NaN     2
99220  2025-01-03T02:57:00Z   offline    GET  ... NaN  NaN     4
99221  2025-01-03T02:58:00Z   offline    GET  ... NaN  NaN     1
99222  2025-01-03T02:59:00Z   offline    GET  ... NaN  NaN     4
99223  2025-01-03T03:00:00Z   offline    GET  ... NaN  NaN     2
99224  2025-01-03T03:01:00Z   offline    GET  ... NaN  NaN     1
99225  2025-01-03T03:02:00Z   offline   POST  ... NaN  NaN     5
99226  2025-01-03T03:03:00Z   offline    GET  ... NaN  NaN     3
99227  2025-01-03T03:04:00Z   offline    GET  ... NaN  NaN     4
99228  2025-01-03T03:05:00Z   offline    GET  ... NaN  NaN     0
99229  2025-01-03T03:06:00Z   offline    GET  ... NaN  NaN     1
99230  2025-01-03T03:07:00Z   offline    GET  ... NaN  NaN     4
99231  2025-01-03T03:08:00Z   offline   POST  ... NaN  NaN     5
99232  2025-01-03T03:09:00Z   offline   POST  ... NaN  NaN     5
99233  2025-01-03T03:10:00Z   offline    GET  ... NaN  NaN     2
99234  2025-01-03T03:11:00Z   offline    GET  ... NaN  NaN     3
99235  2025-01-03T03:12:00Z   offline    GET  ... NaN  NaN     2
99236  2025-01-03T03:13:00Z   offline    GET  ... NaN  NaN     1
99237  2025-01-03T03:14:00Z   offline    GET  ... NaN  NaN     0
99238  2025-01-03T03:15:00Z   offline    GET  ... NaN  NaN     1
99239  2025-01-03T03:16:00Z   offline    GET  ... NaN  NaN     2
99240  2025-01-03T03:17:00Z   offline    GET  ... NaN  NaN     4
99241  2025-01-03T03:18:00Z   offline    GET  ... NaN  NaN     1
99242  2025-01-03T03:19:00Z   offline    GET  ... NaN  NaN     3
99243  2025-01-03T03:20:00Z   offline   POST  ... NaN  NaN     5
99244  2025-01-03T03:21:00Z   offline    GET  ... NaN  NaN     1
99245  2025-01-03T03:22:00Z   offline    GET  ... NaN  NaN     4
99246  2025-01-03T03:23:00Z   offline    GET  ... NaN  NaN     1
99247  2025-01-03T03:24:00Z   offline    GET  ... NaN  NaN     4
99248  2025-01-03T03:25:00Z   offline    GET  ... NaN  NaN     4
99249  2025-01-03T03:26:00Z   offline    GET  ... NaN  NaN     4
99250  2025-01-03T03:27:00Z   offline    GET  ... NaN  NaN     2
99251  2025-01-03T03:28:00Z   offline   POST  ... NaN  NaN     5
99252  2025-01-03T03:29:00Z   offline    GET  ... NaN  NaN     0
99253  2025-01-03T03:30:00Z   offline    GET  ... NaN  NaN     4
99254  2025-01-03T03:31:00Z   offline    GET  ... NaN  NaN     1
99255  2025-01-03T03:32:00Z   offline   POST  ... NaN  NaN     5
99256  2025-01-03T03:33:00Z   offline    GET  ... NaN  NaN     2
99257  2025-01-03T03:34:00Z   offline    GET  ... NaN  NaN     2
99258  2025-01-03T03:35:00Z   offline   POST  ... NaN  NaN     5
99259  2025-01-03T03:36:00Z   offline    GET  ... NaN  NaN     2
99260  2025-01-03T03:37:00Z   offline    GET  ... NaN  NaN     0
99261  2025-01-03T03:38:00Z   offline    GET  ... NaN  NaN     1
99262  2025-01-03T03:39:00Z   offline    GET  ... NaN  NaN     2

[50 rows x 29 columns]

In [22]:
# % distribution
(df["label"].value_counts(normalize=True) * 100).round(2)

label
0    78.24
5     8.43
2     4.57
4     4.56
3     3.84
1     0.36
Name: proportion, dtype: float64

In [23]:
# SQLi false negatives check
df[df["label"] == 0]["url"].str.contains("select|union|sleep", case=False, na=False).sum()

np.int64(0)

In [24]:
#filter data

In [26]:
sqli_df = df[df["label"] == 1]

print(len(sqli_df))
sqli_df.head(50)

359

                  timestamp client_ip method  ... 200 1289 label
96775  2025-01-01T10:12:00Z   offline    GET  ... NaN  NaN     1
96787  2025-01-01T10:24:00Z   offline    GET  ... NaN  NaN     1
96788  2025-01-01T10:25:00Z   offline    GET  ... NaN  NaN     1
96808  2025-01-01T10:45:00Z   offline    GET  ... NaN  NaN     1
96809  2025-01-01T10:46:00Z   offline    GET  ... NaN  NaN     1
96819  2025-01-01T10:56:00Z   offline    GET  ... NaN  NaN     1
96821  2025-01-01T10:58:00Z   offline    GET  ... NaN  NaN     1
96824  2025-01-01T11:01:00Z   offline    GET  ... NaN  NaN     1
96827  2025-01-01T11:04:00Z   offline    GET  ... NaN  NaN     1
96838  2025-01-01T11:15:00Z   offline    GET  ... NaN  NaN     1
96841  2025-01-01T11:18:00Z   offline    GET  ... NaN  NaN     1
96846  2025-01-01T11:23:00Z   offline    GET  ... NaN  NaN     1
96854  2025-01-01T11:31:00Z   offline    GET  ... NaN  NaN     1
96858  2025-01-01T11:35:00Z   offline    GET  ... NaN  NaN     1
96878  2025-01-01T11:55:00Z   offline    GET  ... NaN  NaN     1
96879  2025-01-01T11:56:00Z   offline    GET  ... NaN  NaN     1
96891  2025-01-01T12:08:00Z   offline    GET  ... NaN  NaN     1
96896  2025-01-01T12:13:00Z   offline    GET  ... NaN  NaN     1
96925  2025-01-01T12:42:00Z   offline    GET  ... NaN  NaN     1
96958  2025-01-01T13:15:00Z   offline    GET  ... NaN  NaN     1
96966  2025-01-01T13:23:00Z   offline    GET  ... NaN  NaN     1
96970  2025-01-01T13:27:00Z   offline    GET  ... NaN  NaN     1
96971  2025-01-01T13:28:00Z   offline    GET  ... NaN  NaN     1
96974  2025-01-01T13:31:00Z   offline    GET  ... NaN  NaN     1
96985  2025-01-01T13:42:00Z   offline    GET  ... NaN  NaN     1
96988  2025-01-01T13:45:00Z   offline    GET  ... NaN  NaN     1
96989  2025-01-01T13:46:00Z   offline    GET  ... NaN  NaN     1
96999  2025-01-01T13:56:00Z   offline    GET  ... NaN  NaN     1
97005  2025-01-01T14:02:00Z   offline    GET  ... NaN  NaN     1
97011  2025-01-01T14:08:00Z   offline    GET  ... NaN  NaN     1
97015  2025-01-01T14:12:00Z   offline    GET  ... NaN  NaN     1
97019  2025-01-01T14:16:00Z   offline    GET  ... NaN  NaN     1
97024  2025-01-01T14:21:00Z   offline    GET  ... NaN  NaN     1
97029  2025-01-01T14:26:00Z   offline    GET  ... NaN  NaN     1
97030  2025-01-01T14:27:00Z   offline    GET  ... NaN  NaN     1
97039  2025-01-01T14:36:00Z   offline    GET  ... NaN  NaN     1
97040  2025-01-01T14:37:00Z   offline    GET  ... NaN  NaN     1
97049  2025-01-01T14:46:00Z   offline    GET  ... NaN  NaN     1
97065  2025-01-01T15:02:00Z   offline    GET  ... NaN  NaN     1
97074  2025-01-01T15:11:00Z   offline    GET  ... NaN  NaN     1
97089  2025-01-01T15:26:00Z   offline    GET  ... NaN  NaN     1
97104  2025-01-01T15:41:00Z   offline    GET  ... NaN  NaN     1
97107  2025-01-01T15:44:00Z   offline    GET  ... NaN  NaN     1
97108  2025-01-01T15:45:00Z   offline    GET  ... NaN  NaN     1
97128  2025-01-01T16:05:00Z   offline    GET  ... NaN  NaN     1
97136  2025-01-01T16:13:00Z   offline    GET  ... NaN  NaN     1
97156  2025-01-01T16:33:00Z   offline    GET  ... NaN  NaN     1
97159  2025-01-01T16:36:00Z   offline    GET  ... NaN  NaN     1
97177  2025-01-01T16:54:00Z   offline    GET  ... NaN  NaN     1
97179  2025-01-01T16:56:00Z   offline    GET  ... NaN  NaN     1

[50 rows x 29 columns]

In [30]:
import re
import urllib.parse

SQLI_REGEX = re.compile(
    r"(union\s+select|select.+from|insert\s+into|update\s+\w+\s+set|"
    r"delete\s+from|drop\s+table|or\s+1\s*=\s*1|sleep\s*\(|benchmark\s*\(|"
    r"load_file\s*\(|information_schema|@@version|xp_cmdshell|'--|--\s)",
    re.IGNORECASE
)


def is_sqli_content(row):
    text = f"{row.get('url','')} {row.get('path','')} {row.get('body','')}"
    decoded = urllib.parse.unquote_plus(str(text))
    return bool(SQLI_REGEX.search(decoded))

sqli_by_content = df[df.apply(is_sqli_content, axis=1)]

print(len(sqli_by_content))

359

In [31]:
sqli_strict = df[
    (df["label"] == 1) &
    (df.apply(is_sqli_content, axis=1))
]

print(len(sqli_strict))

359

In [ ]:
##Check miss SQL any

In [32]:
missed_sqli = df[
    (df["label"] == 0) &
    (df.apply(is_sqli_content, axis=1))
]

print("Missed SQLi:", len(missed_sqli))
missed_sqli.head()

Missed SQLi: 0

Empty DataFrame
Columns: [timestamp, client_ip, method, url, path, body, body_len, body_entropy, special_char_count, path_depth, query_length, has_file_upload, response_status, response_length, 2025-12-22T15:58:09.876363Z, ('127.0.0.1', 57812), POST, http://192.168.122.170/dvwa/login.php, /dvwa/login.php, username=a&password=a, 21, 3.499, 1, 2, 0, 0.1, 200, 1289, label]
Index: []

In [33]:
# Distribution after filtering
df[df["label"] == 1]["path"].value_counts().head(10)

path
/search    359
Name: count, dtype: int64

In [34]:
# SQLi keywords frequency
df[df["label"] == 1]["url"].str.contains("union|select|sleep", case=False, na=False).sum()

np.int64(113)

In [35]:
##check Full missing data not labled as 1

In [40]:
SQLI_PAYLOADS = [
    # UNION
    "union select", "union all select", "union distinct select",
    "union select null", "union select 1", "union select 1,2",
    "union select username", "union select password",
    "union select table_name", "union select column_name",
    "union select information_schema",

    # BOOLEAN
    "or 1=1", "or '1'='1'", "or \"1\"=\"1\"",
    "and 1=1", "and 1=0",
    "or true", "and false",
    "or exists", "and exists",
    "or not exists",

    # COMMENTS
    "--", "#", "/*", "*/", ";--", ";#",

    # TIME BASED
    "sleep(", "benchmark(", "pg_sleep(",
    "waitfor delay",

    # ERROR BASED
    "sql syntax", "mysql_fetch", "mysql_num_rows",
    "warning: mysql", "odbc_exec", "pg_query",
    "quoted string not properly terminated",
    "unclosed quotation",

    # ENUMERATION
    "information_schema", "table_schema", "table_name",
    "column_name", "@@version", "version()",
    "database()", "current_user", "system_user",

    # OBFUSCATION
    "0x", "char(", "concat(", "hex(", "unhex(",
]

In [41]:
import re

SQLI_REGEX_LIST = [
    re.compile(re.escape(p), re.IGNORECASE)
    for p in SQLI_PAYLOADS
]

In [42]:
import urllib.parse

def is_sqli_safe(row):
    text = f"{row.get('url','')} {row.get('path','')} {row.get('body','')}"
    decoded = urllib.parse.unquote_plus(str(text)).lower()

    for rx in SQLI_REGEX_LIST:
        if rx.search(decoded):
            return True
    return False

In [43]:
missed_sqli = df[
    (df["label"] != 1) &
    (df.apply(is_sqli_safe, axis=1))
]

print("Missed SQLi samples:", len(missed_sqli))

Missed SQLi samples: 0

In [44]:
##check Brute Force exits or not

In [45]:
import pandas as pd

df = pd.read_csv("labeled_attacks.csv", low_memory=False)

# consider only "Normal" traffic
normal_df = df[df["label"] == 0]

# login-like paths
login_mask = normal_df["path"].str.contains(
    "login|signin|admin|auth",
    case=False,
    na=False
)

bf_candidates = (
    normal_df[login_mask]
    .groupby("client_ip")
    .size()
    .sort_values(ascending=False)
)

bf_candidates.head(10)

Series([], dtype: int64)

In [48]:
# convert timestamp
df["timestamp"] = pd.to_datetime(df["timestamp"], errors="coerce")

normal_df = df[df["label"] == 0]

# requests per IP per second
dos_rate = (
    normal_df
    .groupby([
        "client_ip",
        normal_df["timestamp"].dt.floor("s")
    ])
    .size()
    .reset_index(name="req_per_sec")
)

dos_rate.sort_values("req_per_sec", ascending=False).head(10)

      client_ip                 timestamp  req_per_sec
11105   offline 2025-01-02 07:27:00+00:00            3
11104   offline 2025-01-02 07:23:00+00:00            3
11112   offline 2025-01-02 07:51:00+00:00            3
11082   offline 2025-01-02 05:15:00+00:00            3
11072   offline 2025-01-02 04:33:00+00:00            3
11129   offline 2025-01-02 09:26:00+00:00            3
11059   offline 2025-01-02 03:19:00+00:00            3
11030   offline 2025-01-02 00:39:00+00:00            3
10966   offline 2025-01-01 19:19:00+00:00            3
10938   offline 2025-01-01 16:43:00+00:00            3

In [49]:
dos_paths = (
    normal_df
    .groupby(["client_ip", "path"])
    .size()
    .sort_values(ascending=False)
)

dos_paths.head(10)

client_ip             path
offline               /fi                            314
('127.0.0.1', 50942)  /dvwa/vulnerabilities/exec/    201
('127.0.0.1', 35990)  /dvwa/vulnerabilities/fi/      167
offline               /search                        123
                      /cmd                            88
('127.0.0.1', 32494)  /dvwa/vulnerabilities/exec/      5
('127.0.0.1', 31145)  /dvwa/vulnerabilities/exec/      4
('127.0.0.1', 37893)  /dvwa/vulnerabilities/exec/      4
('127.0.0.1', 33368)  /dvwa/vulnerabilities/exec/      4
('127.0.0.1', 37726)  /dvwa/vulnerabilities/exec/      4
dtype: int64

In [ ]:
#â€œAnalysis of request rate and repetition patterns confirmed that the dataset does not contain brute-force or HTTP flood (DoS) attacks. All traffic labeled as normal exhibits request rates consistent with legitimate or controlled attack-testing behavior"

In [ ]:
#Your model will learn to detect:

#SQLi

#XSS

#LFI

#Command Injection

#File Upload attacks

#It will NOT learn brute-force or DoS

#because no such examples exist