In [9]:
name=float(input("enter name"))
print(name)
print(type(name))

enter name34.5
34.5
<class 'float'>

In [11]:
name="king"
NAME="kings"

print(name)
print(NAME)

king
kings

In [21]:
#local and globel variable

x="i am globel"
def fun():
    global x #now this will use as local function
    x="I am local"
    #print(x)
    
print(x)  #not fun call then this is use a globel  
fun()
print(x)# if call fun this will use as local

i am globel
I am local

In [22]:
#string in python

In [80]:
x='hello'
#  01234
y="string"
#  012345

# print(type(x)) # str type
# print(type(y)) # str type
# print(x,y) #hello string


# print(x[2]) #use as like array 0 to n = l
# print(y[2]) # same
# print(x[2:7]) # 2=l 5=NaN so last index is final( index of string (hello)0 to 4 only )
# print(x[:3]) #= hel index 0 to :n=3 
# print(x[3:])  #= lo  indel n=3  n: to last index
# print(x[:-2]) # skip last 2 elemants as :-2 
# print(x[-2:]) # print only last 2 elenet -2:
# print(x[:])  # print all string


# print(len(x)) #length of string from 1 to n = 5

# concat 2 string
#print(x + y) # without space / also can do using variable a=x+b



#string formating

# c=f"{x} {y}" # this is a sting formating as use can spcace |___|
age=22
c="{} {} age is {}".format(x,y,age) # also this can work = {1}{2} 1=x 2nd =y 
print(c)
print('hwllo\'!') # if use of 'hello'!' (') this will show error so use \' to set as normal char not end of string

# #other methods 
# print("x="+x+" y="+y+" concat to "+x+y) # this not provide space
# print("x=",x,"y=",y,"concat to",x+y) #this give space
# print(f"x={x} y={y} concat to {x+y}") # this not give space {string formating method}

hello string age is 22
hwllo'!

In [104]:

x="Hello"
z="Hello"
y="king"

#prebuild functions for string use string name and dot = x.""""""
#ex= 
# print(x.capitalize())
# print(x.lower())
# print(x.endswith("o"))
# print(x.isnumeric())

Hello
hello
True
False

In [114]:
#number
n1=12
n2=12.3
n3=-12
n4=-12.5
n5=12345678
#  01234567 index
# print(type(n1)) #int
# print(type(n2)) #float
# print(type(n3)) #int 
# print(type(n4)) #float
# print(n1.as_integer_ratio()) # 12,1    (.'''''' same as string data use .)

# #convert integer to string and string to integer
# inum=str(n5) # integer to string
# print(type(inum)) #type str
# num=int(inum) #string to integer
# print(type(num)) # type iint



# imagenary part of number (j)
x=5j

In [145]:
#print random number

import random
 
print(random.randrange(1,5,2)) #input= (start,end,step) 
#step= start=0 end = 10 step = 2 so if 01 next 2 is 2step num then this print 2 skip 2 number each time 
#so this print onlt in between 1 to 5 op only = 3,1 only each time
#also skip stop number as = 5 not print this..

1

In [161]:
#arithmatic operations on integers
num1=456
num2=123
#num3=123.456

print(num1+num2) #this do addition of two number = 579
print(num1/num2) #divide number =3.70...
print(num1//num2) # divide but in as integer = 3
print(num1*num2) # multipy this 
print(num1**num2) #num1 rease to num2 like squre of number num1 to num2
print(num1++num2) #same as +
print(num1-num2) # sub number
print(num1--num2) # -- become a +
print(num1---num2) # --- = -- is + and - is= -
print(num1+++num2) #same
print(num1%num2) # mod

num1+=123 # this add in number num1 456+123 only
#num1=+123 # this not add any only print 123
#num1{+,/,-,*}=123  this can  do anything
print(num1)

579
3.707317073170732
3
56088
1128952443060998390793281890551444973052697100995833302022381272105524811297192811584341744235568688576498565319529445045920276026656160679057055892943244236447604693768261012955460872912017013344134445831746996828545397543641811754126900945748388368667966627419815114500109330430662809943171174947516304932196541423284352188416
579
333
579
333
579
87
579

In [170]:
#BOOLEAN IN PYTHONS TRUE AND FALSE
# print(10>9) #true
# print(10<9) # false
#print(bool(None)) # Fals
#print(bool(0)) # false also string false

# print(8<9 and 6<8) # true both want true
# print(8<9 or 9<6)  # at last one want to true

#not also have in python as negation true=false and false= true

True
True

In [216]:
#LIST IN PYTHONSS
l1=[1,2,3,4,5,6,7,8]
l2=[1,"hello",2,3,"world"]
l3=[1,2,3,[4,5,6],7]

# print(l1[0]) #1
# print(l2[1]) # hello
# print(l2[1:4]) # print from index 1 to 4 element of list
# strr=l2[1] # this give a single latter to variable 
# print(strr[1])

# print(l2[1][1]) # this can print latter in side of latters 

# print(l3[3][0]) # this also print inside of multi list

# print(l2[:4]) # print 0 to n=4 only
# print(l2[2:]) # print from index 2 to n last index 
# #same as [-2:],  [:-2] etc as per string

# print(l2[-2]) # this print if use - sign then from index last to first -1= last index of list
# print(l1[-1]) # if use -0 is print 1 all time not last char

#update data

#l2[1]= "jaduu" # this overlap value
#print(l2)

#by insert
 
# l1.insert(9,"op") # (index,values) [1, 2, 3, 4, 5, 6, 7, 8, True, 'op']
# print(l1)

#append add values of end of list
# l1.append("king") #[1, 2, 3, 4, 5, 6, 7, 8, True, 'king'] without remove any elements
# print(l1)


# l1.extend(l2) # this add 2 list combine only concat like
# print(l1)

# print(l1+l2) # this also work same as concat

# want to remove something
# #like hello use
# l2.remove("hello") #remove hello
# print(l2) # print whitout hello
#also use a pop as stack operations
#l2.pop(1) #also print what are removed
#l2.sort
#l2.append("")
#l2.clear
#l4=l2.copy
#l2.count(l1) # check how many same values in l2 from l1

# l2.reverse() #print in revere
# # print(l2)
# l1.sort(reverse=True) # this will print sort + in reverce order
# print(l1) 


#best of first

fro=["mango","banana","apple","pinapple","watermelen"]
fro1=[f for f in fro if f !="apple"] # this inside of condition in list
#this skip a appale != and add all remaning of string in fro1
print(fro1)

['mango', 'banana', 'pinapple', 'watermelen']

In [217]:
#tupple and sets in pythons

In [222]:
tupple1=(1,2,3,4,5,6,7,8)
tupple2=("hello","my","name","is","king")


# print(tupple1+tupple2) #this concat this 

# print(len(tupple1))# length of tupple

print(tupple1[2])

(1, 2, 3, 4, 5, 6, 7, 8, 'hello', 'my', 'name', 'is', 'king')
8
3